
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">
    
    <th:block layout:fragment="head">
    	<title>Spring Boot</title>
		
        <!--/* css */-->
        <link th:href="@{/css/common.css}" rel="stylesheet" />
    </th:block>
    <body>
        <th:block layout:fragment="header" th:include="@{/fragments/header}"></th:block>
		
        <div layout:fragment="content" class="content">
            <h2>This is Content</h2>
            <hr>
            <table border="1">
            	<tr>
            		<th>부서코드</th>
            		<th>부서명칭</th>
            	</tr>
            	<th:block th:each="rl : ${resultList}">
            		<tr>
            			<td th:text="${rl.deptno}"></td>
            			<td th:text="${rl.deptnm}"></td>
            		</tr>
            	</th:block>
            </table>
        </div>
    </body>
<!--     <th:block layout:fragment="footer" th:include="@{/fragments/footer}"></th:block>	 -->
</html>