
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">
		
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	
	<script>
	$(document).ready(function(){
		$('input[name=_selected_all_]').on('change', function(){
			  $('input[name=_selected_]').prop('checked', this.checked);
			});
	});
	</script>
 	<title th:text="${mdInfo.mdname + '[' + mdInfo.mdsign + ']'}">
 	</title>

    <body>
    	<div class="container p-3 my-3 bg-dark text-white">
        <th:block layout:fragment="header" th:include="@{/fragments/header}"></th:block>
        </div>
		
        <div layout:fragment="content" class="container">
			<div class="btn-group">
			  <button type="button" class="btn btn-outline-primary">조회</button>
			  <button type="button" class="btn btn-outline-danger">삭제</button>
			</div>
			
            <h3>부서코드 목록</h3>

            <table class="table table-hover table-bordered table-sm">
            	<thead class="thead-dark">
            	<tr>
            		<th><input type="checkbox" name="_selected_all_"></th>
            		<th>부서코드</th>
            		<th>부서명칭</th>
            	</tr>
            	</thead>
            	<th:block th:each="rl : ${resultList}">
            		<tr>
            			<td><input type="checkbox" name="_selected_"></td>
            			<td th:text="${rl.deptno}"></td>
            			<td th:text="${rl.deptnm}"></td>
            		</tr>
            	</th:block>
            </table>
        </div>
    </body>
<!--     <th:block layout:fragment="footer" th:include="@{/fragments/footer}"></th:block>	 -->
</html>